.footerMain{
    width: 100%;
    height: 295px;
    background: #26ADE2;
}
.footerContent{
   margin: 0 auto;
   max-width: 1100px;
   height: 100%;
   display: flex;
}
.contentFooter{
   width: 25%;
   height: 100%;
   padding-right: 10px;
}
.contentFooter h1{
   font-weight: 500;
font-size: 20px;
color: white;
font-family: PoppinsRegular;
padding-top: 40px;
margin: 0px;
margin-bottom: 20px;
}
.indi{
   display: flex;
   width: 100%;
   align-items: center;

}
.indi p{
   margin: 5px 10px;
   font-weight: 500;
   font-size: 16px;

   color: white;
   font-family: PoppinsRegular;     
}
.indi svg{
  margin-right: 10px;
}
.otehrPageLInk{
   font-weight: 500;
   font-size: 16px;
   display: flex;
   flex-direction: column;
   text-decoration: none;
   color: white;
   font-family: PoppinsRegular;     
}